/* LoginForm.css */
.form-container {
    width: 80%;
    padding: 10%;
    border-radius: 32px;
    background: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 32px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 10%;
    text-align: center;
    height:60%;
    margin-top:20%;
  }
  .form-container h2{
    text-align: center;
    color: var(--all-colors-text-primary-color-text-primary, #282828);
font-style: normal;
font-weight: 500;
line-height: 36px;
margin-top:-5%;
  }
  .form-container button{
    width: 100%;
  padding: 1rem;
  margin-top: 0;
  background:#2F93F6;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  .input-form label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
    color: #333; 
    text-align: left;
    margin-bottom: -2%;
    margin-top:2%;
  }
  
  .input-form {
    position: relative;
  }
  .eye-icon{
    margin-top: -12%;
    z-index: 100;
  }