/* LoginForm.css */

/* .icon{
  align-items: center;
}
.form-container h2 {
 
  color: var(--all-colors-text-primary-color-text-primary, #282828);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  
}
.form-container button {
  width: 100%;
  padding: 1rem;
  margin-top: 0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
} */


.input-form {
  position: relative;
}
.eye-icon {
  z-index: 100;
  margin-top: 5%;
  margin-left: -7%;
}
