.homeContainer{
    background-color: #ffff;
    color:#000000;
    
} 




.prices{
  
    color:#ffff;
}

.prices .tag1 {
    background-color: #FF1D86;
    border-radius: 2%;
    box-sizing: border-box;
}

.prices .tag2{
    background-color: #101828;
    border-radius: 2%;
    
}
.prices .tag3{
    background-color: #152259;
    border-radius: 2%;
}

.prices .tag1 ul{
    list-style-type: disc;
} 

.prices .tag3 ul{
    list-style-type: disc;
}

