/* LoginForm.css */
.form-container {
  width: 100%;
  padding: 10%;
  border-radius: 32px;
  /* margin-left: 10%; */
  text-align: center;
  margin-top: 20%;
}
.icon{
  align-items: center;
}
.form-container h2 {
  text-align: center;
  color: var(--all-colors-text-primary-color-text-primary, #282828);
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  
}
.form-container button {
  width: 100%;
  padding: 1rem;
  margin-top: 0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.input-form label {
  display: block;
  font-size: 1rem;
  font-weight: bold;
  color: #333;
  text-align: left;
  margin-bottom: -2%;
  margin-top: 2%;
}

.input-form {
  position: relative;
}
.eye-icon {
  z-index: 100;
  margin-top: 2%;
  margin-left: -7%;
}
@keyframes move {
  0%, 100% {
    transform: translateX(0);
    opacity: 1;
  }
  50% {
    transform: translateX(20px);
    opacity: 0.5;
  }
}

.animate-move {
  animation: move 1s infinite;
}
