/* Auth.css */

.login-info {
    background-image: url('../assets/images/background.png');
  background-size: cover;
  }
  
  .other-section {
    background-color: #152259;
    border-radius: 20px;
  }
  .other-section .heading{
     padding-left: 10%;
  }